#tab-panel {
	height: 100%;
	display: flex;
	flex-direction: column;
}
#tab-panel .tab-nav .tab-button {
	display: inline-block;
	cursor: pointer;
	padding: 0.5em;
	border-left: 1px solid lightgrey;
}
#tab-panel .tab-nav .tab-button.active {
	background-color: rgba(255, 0, 0, 0.25);
	border-color: red;
}
#tab-panel .tab-content {
	flex: 1;
	padding: 0.5em;
	border: 1px solid red;
	position: relative;
	overflow: hidden;
}
#tab-panel .tab {
	position: absolute;
	transition: all .3s ease-in-out;
}